<div class="mt-2 panel panel-primary">
    <div class="panel-heading">Outils</div>
    <div class="panel-body">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let switch of switchs;let i = index;"
                colspan="1"
                rowspan="1">
             
            <mat-checkbox  class="" 
            (click)="switch.my_f(i)">{{switch.text}} </mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
