<mat-card  class="mat-elevation-z10 m-3">

  <mat-card-header>

    <mat-card-title>Upload dataset</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <p>Veuillez choisir un fichier.</p>
  </mat-card-content>

  <mat-card-actions class="upload-actions">
    <div>
      <label for="txtFileUpload" style="width:100%;">Select a file for data:</label>
      <input 
      style="width:100%;"
      type="file" #csvReader 
      name="Upload CSV" 
      id="txtFileUpload" 
      (change)="uploadListener($event)" accept=".csv" 
      /> 
    </div>
  </mat-card-actions>
</mat-card>
<stat-div *ngIf="(fileName|async) != ''"></stat-div>
<testdd *ngIf="dd_present"></testdd>
<svg1></svg1>
<button mat-raised-button (click)='uploadVar()'>add</button>
<data-view-test></data-view-test>









