<mat-card  class="mat-elevation-z10 m-3">

  <mat-card-header>

    <mat-card-title>Upload Data dictionnary</mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <p>Veuillez choisir le fichier.</p>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>

      <input matInput
              placeholder="" formControlName="varName">

  </mat-form-field>


  <mat-form-field>

    <input matInput
    placeholder="" formControlName="description" >

  </mat-form-field>

</mat-dialog-content>
  </mat-card-content>

  <mat-card-actions class="upload-actions">
    <div *ngIf="form.valid">
      <label for="txtFileUpload">Select a file for dd:</label>
      <input 
      type="file" #csvReader 
      name="Upload DD" 
      id="txtFileUpload" 
      (change)="uploadListener($event)" accept=".xlsx" 
      /> 
    </div>
  </mat-card-actions>
</mat-card>


<!---
<button mat-raised-button (click)='uploadVar()'>add</button>
<button mat-raised-button (click)='printValue()'>value</button>
-->









